@if (IsGuest)
{
    <!-- 左边 -->
    <div class="chat_left clearfix">
        <div class="chat_left_item_1 ">@Name</div>
        <div class="chat_left_item_2">
            <div class="chat_time">@InsertedAt</div>
            <div class="chat_left_content">@Text</div>
        </div>
    </div>
} else
{
    <!--右边 -->
    <div class="chat_right">
        <div class="chat_right_item_1 ">@Name</div>
        <div class="chat_right_item_2 ">
            <div class="chat_right_time">@InsertedAt</div>
            <div class="chat_right_content">@Text</div>
        </div>
    </div>
}




@code {
    [Parameter]
    public string Name { get; set; }
    [Parameter]
    public string Text { get; set; }
    [Parameter]
    public bool IsGuest { get; set; }
    [Parameter]
    public string InsertedAt { get; set; }
}
